<div class="seed-container">
  <div fxLayout="column" fxFlex class="layout-toolbar" color="primary">
    <mat-toolbar color="primary" class="toolbar">
      <span class="title">LANGUAGE SWITCHER</span>
      <span class="spacer"></span>
      <button mat-raised-button 
        style="color:rgba(0,0,0,.87)" 
       (click)="goNext()">
        Next
      </button>
    </mat-toolbar>
    <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="content">
      <div>
        <h2>
        {{ language | async }}
        </h2>
      </div>
      <div>
        <button mat-raised-button color="primary" (click)="message('english')">English</button>
        <button mat-raised-button color="primary" (click)="message('spanish')">Spanish</button>
        <button mat-raised-button color="primary" (click)="message('french')">French</button>
      </div>
    </div>
  </div>

</div>