<div class="seed-container">
  <div fxLayout="column" fxFlex class="layout-toolbar" color="primary">
    <mat-toolbar color="primary" class="toolbar">
      <span class="title">COUNTER</span>
      <span class="spacer"></span>
      <button mat-raised-button style="color:rgba(0,0,0,.87)" (click)="goNext()">
        Next
      </button>
    </mat-toolbar>
    <div fxFlex fxLayout="row" fxLayoutAlign="center center" class="content">
      <button mat-icon-button (click)="increment()" color="primary">
        <mat-icon>
          add
        </mat-icon>
      </button>
      <div style="padding: 0 16px;">{{ counter | async }}</div>
      <button mat-icon-button	 (click)="decrement()" color="warn">
        <mat-icon>
          remove
        </mat-icon>
      </button>
    </div>
    <button mat-raised-button color="primary" (click)="reset()">Reset</button>
  </div>

</div>