.seed-container {
    height: calc(100vh);
    font-family: 'Roboto', sans-serif;
    width: 100%;
    .spacer {
        flex: 1 1 auto;
    }
    .layout-toolbar {
        .toolbar {
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
            min-height: 64px;
            max-height: 64px;
            z-index: 2;
            .title {
                margin-left: 70px;
                font-size: 20px;
            }
        }
    }
    .content {
        background-color: whitesmoke;
    }
  }